@import 'variables';

@mixin d-flex (
    $direction: row,
    $justify: space-between,
    $items: center,
    $gap:0) {

        display: flex;
        flex-direction: $direction;
        justify-content: $justify;
        align-items: $items;
        gap: $gap;
    }

    @mixin tablet {
        @media screen and (max-width: $tablet) {
          @content;
        }
      }
